.form {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.form-element {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.message{
    margin-top: 10px;
    font-size: 20px;
}


.message.success{
    color: green;
}

.message.error{
    color: red;
}